

<app-navbar></app-navbar>

<div class="d-flex justify-content-center align-items-center  m-auto ">
  <div class="w-100  p-4 rounded shadow" style="margin-top: 15rem;max-width: 40vw;">

    <form *ngIf="activeForm === 'login'" [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="text-3xl font-weight-bold text-center text-gray-300">
        Login
      </h1>
      <div class="mt-4" class="form-group">
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input type="email" class="w-100 form-control mt-1" formControlName="email" placeholder="Email" />
      </div>

      <div class="mt-4" class="form-group">
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input type="password" class="w-100 form-control mt-1" formControlName="password" placeholder="Password" />
      </div>

      <div class="mt-4">
        <button class="btn btn-block" type="submit">Login</button>
      </div>
      <p (click)="toggleForm()">Don't have an account?
        <span class="highlighted">Register</span>
      </p>
    </form>



    <form *ngIf="activeForm === 'register'" [formGroup]="registerForm" (ngSubmit)="register()">
      <h1 class="text-3xl font-weight-bold text-center text-gray-300">
       Register
      </h1>
      <div class="form-group mt-4">
        <label class="label">
          <span class="text-base label-text">Username</span>
        </label>
        <input type="text" class="w-100 form-control mt-1" formControlName="username" placeholder="Username" />
      </div>

      <div class="mt-4" class="form-group">
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input type="email" class="w-100 form-control mt-1" formControlName="email" placeholder="Email" />
      </div>

      <div class="mt-4" class="form-group">
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input type="password" class="w-100 form-control mt-1" formControlName="password" placeholder="Password" />
      </div>

      <div class="mt-4">
        <button class="btn btn-block" type="submit">Register</button>
      </div>
      <p (click)="toggleForm()">Already have an account?
        <span class="highlighted">Login</span>
      </p>
    </form>
  </div>
</div>

